*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  margin: 0;
  font-family: Lato, sans-serif;
  background-color: #3D4756; }

.nav-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 6rem;
  background: linear-gradient(45deg, #1F88D4, #00B4FF);
  padding: 1rem;
  position: relative; }
  .nav-bar__logo-box {
    padding-left: 1rem;
    width: 6.4rem;
    height: 6.4rem; }
  .nav-bar__logo {
    width: 100%;
    aspect-ratio: 1/1; }
  .nav-bar__title-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .nav-bar__title {
    padding: 0.5rem 1rem;
    color: #F2FAFF;
    font-size: 2.5rem;
    text-transform: uppercase;
    background-image: linear-gradient(90deg, #922A55, #CB5F87);
    background-size: 0% .3rem;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size .3s ease; }
    .nav-bar__title:hover {
      background-size: 100% .3rem; }
